<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Dev Skills</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Need to Delete A Skill?</h1>
    <a href="/">Back Home</a>
    <ul>
        <% skills.forEach(function(skill, idx){ %>
            <li>
                <form action="/skills/<%= idx %>?_method=DELETE"
                    class="delete-form" method="POST">
                    <button type="submit">X</button>
                </form>
                <a href="/skills/<%= idx %>"><%= skill.text %></a>
                -
                <%= skill.acquired? 'Yes' : 'No' %>
            </li>
        <% }); %>
       
    </ul>
    <a href="/">Go Home</a>
</body>
</html>