<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Dev Skills</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Need to Delete A Skill?</h1>
    <a href="/">Back Home</a>   
    <h1><%= skill.text %></h1>
    <p><%= skill.acquired ? 'Yes' : 'No' %></p>    

    <form action="/skills/>?_method=DELETE"
        class="delete-form" method="POST">
        <button type="submit">Delete</button>
    </form>
</body>
</html>
